---
server:
  port: ${port:8000}

spring:
  main:
    web-application-type: reactive
  codec:
    max-in-memory-size: 500KB
  application:
    name: "@project.artifactId@"
    description: "@project.name@"
  build:
    version: "@project.version@"
  jackson:
    default-property-inclusion: NON_NULL
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/vortex}
    username: ${DB_USERNAME:postgresql}
    password: ${DB_PASSWORD:password}
    hikari:
      pool-name: hikari-platform-service-platform
      connection-test-query: SELECT 1
      maximum-pool-size: 50
      max-lifetime: 600000
      connection-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
  flyway:
    baseline-on-migrate: true
    enabled: false
management:
  endpoint:
    health:
      show-details: ALWAYS
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus
info:
  app:
    encoding: "@project.build.sourceEncoding@"
    java:
      source: "@java.version@"
      target: "@java.version@"

springdoc:
  show-actuator: true
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    supported-submit-methods: ["get", "post", "patch", "delete"]
    config-url: /v3/api-docs/swagger-config
    urls:
      - url: /v3/api-docs
        name: Vortex API
  servers:
    - url: http://localhost:8000
      description: localhost
logging:
  level:
    com.consoleconnect.vortex: DEBUG

app:
  default-company: ${DEFAULT_COMPANY}
  auth:
    auth0:
      domain: ${AUTH0_DOMAIN}
      clientId: ${AUTH0_CLIENT}
      clientSecret: ${AUTH0_SECRET}